html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1, h2, h3{
    text-align: center;
    color: whitesmoke;
}
body{
    background-image: linear-gradient(to right, rgba(52, 58, 64, 1),rgba(52, 58, 64, 0.95),rgba(52, 58, 64, 0.90), rgba(52, 58, 64, 0.95),rgba(52, 58, 64, 1)); 
}
.navbar-custom{
    background-color: #222324;
}
a.nav-link{
    color: rgba(245, 245, 245, 0.7);
}
#navBar{
    -webkit-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    margin: 2%;
}
#nameTitle{
    font-size: 5rem;
    margin: 2vw;
}
#positionTitle{
    font-size: 2.5rem;
    margin: 1vw;
}
#myFaceLogo{
    width: 25%;
    height: 25%;
    margin: 2vw;
}

.pageTitle{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 2.5%;
}


#home{
    text-align: center;
    padding-top: 10px;
}
#home::after {
    content: "";
    background: url("../img/Backgrounds/keyboard-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.secondaryTitle{
    margin: 2vw;
    color: whitesmoke;
    text-align: center;
}

#seeMore{
    color:rgba(235, 235, 235, .9);
    text-align: center;
}
#seeMore:hover{

}

#professional{
    text-align: center;
    padding-top: 5%;
}
#professional::after{
    content: "";
    background: url("../img/Backgrounds/blank-business-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

#portfolio{
    text-align: center;
    padding: 5%;
}
#portfolio::after{
    content: "";
    background: url("../img/Backgrounds/mobilesketch-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

#experience{
    text-align: center;
    padding: 5%;
}
#experience::after{
    content: "";
    background: url("../img/Backgrounds/mountain-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

#contact{
    text-align: center;
    padding: 5%;
}
#contact::after{
    content: "";
    background: url("../img/Backgrounds/smoke-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

#aboutMe{
    border-image: src("img/Backgrounds/greenfilled-circuitboard.png") 30 round;
    background: #343A40;
    color: whitesmoke;
    padding: 2vw;
    margin: 3vw 2vw 2vw 2vw;
    width: 70%;
    align-content: center;
    margin-left: 15%;
}
#myLogo{
    margin-bottom: 4vw;
    width: 15%;
    height: 15%;
}

#submitBtn, #downloadResume{
    background: #343A40;
    border-style: solid;
    border-width: 1px;
    border-color: #00D646;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding: 2% 3%;
}
#submitBtn:hover, #downloadResume:hover{
    background: #00D646;
    border-style: solid;
    border-width: 1px;
    border-color: #00D646;
    color: whitesmoke;
    text-decoration: none;
}
.knowledge-level-category{
    background: rgba(0, 0, 0, 0);
}
#knowledgeLevels{
    background: rgba(0, 0, 0, .7);
    padding: 2vw;
}
.knowledge-level-title{
    font-size: 1.75rem;
    border: 0;
    text-align: left;
    color: #00D646;
    background: rgba(0, 0, 0, 0);
}
.knowledge-level-sub{
    width: 25%;
    display: inline-block;
    height: 5%;
    margin-right: 1rem;
    background: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 1.2rem;
}
.knowledge-level-percent{
    width: 10%;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 1.2rem;
}
.knowledge-level-rect{
    display: inline-block;
    vertical-align: middle;
}
.knowledge-level-div{
    height: 4vw;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mainpageImg{
    width: 100%;
    height: 25%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imgContainer{
    position: relative;
    display: inline-block;
    width: 30%;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    padding: 1%;
    text-align: center;
}
.imgContainer:hover .mainpageImg {
    opacity: 0.3;
}

.imgContainer:hover .middle {
    opacity: 1;
}
.text {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
.card{
    border: none;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: #00D646;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container{
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-left: 0%;
}
.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #00D646;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
}
.left{
    left: 0;
    padding-right: 20px;
}
.right{
    left: 50%;
    padding-left: 20px;
}
.left::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 25px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #00D646;
}
.left::after{
    right: -13px;
}
.right::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 25px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #00D646 transparent transparent;
}
.right::after{
    left: -13px;
}
.content {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    .timeline::after {
    left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.timePeriodLeft{
    text-align: right;
    color: #00D646;
    font-size: 1.2rem;
}
.companyLeft{
    text-align: right;
    color: whitesmoke;
    font-size: 1.5rem;
}
.positionLeft{
    text-align: right;
    color: whitesmoke;
    font-size: 1rem;
}
.contentLeft{
    text-align: right;
    color: rgba(215, 215, 215, 1);
    font-size: 1rem;
}
.timePeriodRight{
    text-align: left;
    color: #00D646;
    font-size: 1.2rem;
}
.companyRight{
    text-align: left;
    color: whitesmoke;
    font-size: 1.5rem;
}
.positionRight{
    text-align: left;
    color: whitesmoke;
    font-size: 1rem;
}
.contentRight{
    text-align: left;
    color: rgba(215, 215, 215, 1);
    font-size: 1rem;
}
#contactForm{
    background: rgba(52, 58, 64, 0.8);
    width: 50%;
    padding-top: 1%;
    text-align: center;
    display: inline-block;
}
.formText{
    margin: 2%;
    color: whitesmoke;
    size: 1.1rem;
}
.formInput{
    width: 50%;
}
#submitBtn{
    margin-top: 5%;
}
#contactInfo{
    size: 1.5rem;
    color:whitesmoke;
    margin-bottom: 2vw;
}

footer{
    text-align: center;
    padding: 1%;
    background-color: rgba(30, 32, 34, 0.5);
    color:rgba(245, 245, 245, 0.7);
    -webkit-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
}
#footerImg{
    width: 2.5%;
    height: 2.5%;
    margin-right: 20px;
}
.leftMoveInStart {
    -webkit-animation: leftMovingIn 2s ease-out;
    animation: leftMovingIn 2s ease-out;
}
@keyframes leftMovingIn {
    from {transform: translateX(-1000px);}
    to {transform: translateX(0px);}
}
.rightMoveInStart{
    -webkit-animation: rightMovingIn 2s ease-out;
    animation: rightMovingIn 2s ease-out;
}

@keyframes rightMovingIn{
    from {transform: translateX(1000px);}
    to {transform: translateX(0px);}
}
.invisible{
    visibility: hidden;
}