h1, h2, h3{
    text-align: center;
    color: whitesmoke;
}

#nameTitle{
    font-size: 5rem;
    margin: 2vw;
}
#positionTitle{
    font-size: 2.5rem;
    margin: 1vw;
}
#myFaceLogo{
    width: 25%;
    height: 25%;
    margin: 2vw;
}

.pageTitle{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 2.5%;
}


#home{
    text-align: center;
    padding-top: 10px;
}
#home::after {
    content: "";
    background: url("../img/keyboard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

#secondaryTitle{
    margin: 2vw;
}
#professional{
    text-align: center;
    padding-top: 5%;
}
#professional::after{
    content: "";
    background: url("../img/blank-business-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
#portfolio::after{
    content: "";
    background: url("../img/mobilesketch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
#experience::after{
    content: "";
    background: url("../img/mountain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
#contact::after{
    content: "";
    background: url("../img/smoke.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

#aboutMe{
    border-style: solid;
    border-width: 5px;
    border-color: #00D646;
    background: #343A40;
    color: whitesmoke;
    padding: 2vw;
    margin: 3vw 2vw 2vw 2vw;
    width: 70%;
    align-content: center;
    margin-left: 15%;
}

#myLogo{
    margin-bottom: 4vw;
    width: 15%;
    height: 15%;
}


button{
    background: #343A40;
    border-style: solid;
    border-width: 1px;
    border-color: #00D646;
    color: whitesmoke;
    font-size: 1.5rem;
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding: 2% 3%;
}
button:hover{
    background: #00D646;
    border-style: solid;
    border-width: 1px;
    border-color: #00D646;
    color: whitesmoke;
}
.knowledge-level-category{
    background: rgba(0, 0, 0, 0);
}
#knowledgeLevels{
    background: rgba(0, 0, 0, .7);
    padding: 2vw;
}
.knowledge-level-title{
    font-size: 1.75rem;
    border: 0;
    text-align: left;
    color: #00D646;
    background: rgba(0, 0, 0, 0);
}
.knowledge-level-sub{
    width: 25%;
    display: inline-block;
    height: 5%;
    margin-right: 1rem;
    background: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 1.2rem;
}
.knowledge-level-percent{
    width: 10%;
    display: inline-block;
    background: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 1.2rem;
}
.knowledge-level-rect{
    display: inline-block;
    vertical-align: middle;
}
.knowledge-level-div{
    height: 4vw;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.mainpageImg{
    width: 100%;
    height: 25%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.imgContainer{
    position: relative;
    display: inline-block;
    width: 30%;
}
.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.imgContainer:hover .mainpageImg {
    opacity: 0.3;
}

.imgContainer:hover .middle {
    opacity: 1;
}
.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
      transform-style: inherit;
}
.card{
    border: none;
}