html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-image: linear-gradient(to right, rgba(52, 58, 64, 1),rgba(52, 58, 64, 0.95),rgba(52, 58, 64, 0.90), rgba(52, 58, 64, 0.95),rgba(52, 58, 64, 1)); 
}
.navbar-custom{
    background-color: rgba(30, 32, 34, 0.5);
}
a.nav-link{
    color: rgba(245, 245, 245, 0.7);
}
#navBar{
    -webkit-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 68px 2px rgba(0,0,0,0.75);
    margin: 2%;
}
h1, h2, h3{
    text-align: center;
    color: whitesmoke;
    margin-bottom: 5%;
}
.largePreview{
    width: 50%;
    margin-left: 25%;
}
.halfPreview{
    width: 100%;
    margin-left: 25%;
    font-size: 0px;
    display: inline-block;
}
.halfPreviewGif{
    width: 25%;
    height: 25%;
    margin: 0 auto;
    padding: 0;
}

#expanded {
    display: table;
    margin: 2%;
    height:100%;
}

.cell {
    vertical-align: top;
    display: table-cell;
    height: 100%;
}
#expandedImageCell{
    width: 55%;
}
#expandedImage{
    width: 90%;
}
#expandedTitle{
    display: inline-block;
    text-align: center;
    margin: 5%;
}
#expandedDescription{
    color:rgba(175, 175, 175, 1);
}
#titleArea{
    display: inline-block;
    width: 100%;
}
.arrowBtn{
    background: rgb(52, 58, 64);
    color: whitesmoke;
    font-size: 2rem;
    margin-top: 2vw;
    margin-bottom: 1vw;
    padding: .5% 3%;
    text-align: center;
    display: inline-block;
}
.arrowBtn:hover{
    background: #00D646;
    border-style: solid;
    border-width: 1px;
    border-color: #00D646;
    color: whitesmoke;
    text-decoration: none;
}
#closeBtn{
    right: 0;
    margin-right: 5vw;
    padding-right: 0;
    margin-left: 5vw;
    font-size: 1.5rem;
    color: whitesmoke;
    position: absolute;
}
footer{
    text-align: center;
    padding: 1%;
    background: #343A40;
    color:rgba(245, 245, 245, 0.7);
    box-shadow: 0px 0px 10px rgba(30, 32, 34, 0.7);
    margin-top: 2%;
}
#footerImg{
    width: 2.5%;
    height: 2.5%;
    margin-right: 20px;
}